@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: black;
    /* #171717; */
    /* --background: #0a0a0a;
  --foreground: #ededed; */
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #c9d1d9;
        /* #ededed; */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.markdown-content {
    @apply px-8 !bg-transparent;
    * {
      @apply [font-family:var(--font-manrope)_!important];
    }
    h1 {
        @apply text-4xl font-bold;
    }
    img {
      @apply sm:max-h-64 h-full sm:max-w-full max-w-full float-right ml-4 mb-4;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    section,
    article,
    aside,
    header,
    footer,
    nav,
    main,
    form,
    fieldset {
        @apply clear-both;
    }
}

html {
    @apply scroll-smooth;
}